@import url(normalize.css);
@import url(bootstrap.css);
@import url(font-awesome.min.css);
@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/robotocondensed-light.eot');
    src: url('../fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light.woff2') format('woff2'),
         url('../fonts/robotocondensed-light.woff') format('woff'),
         url('../fonts/robotocondensed-light.ttf') format('truetype'),
         url('../fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
	scroll-behavior: smooth;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'RobotoCondensedRegular';
	font-size: 16px;
	background: black;
	color: white;
}


/*////////////////////////////////////////*/


.contenedorpadre {
				display:inline-flex;
  				flex-direction:row;
  				flex-wrap:nowrap;
  				justify-content:center;
  				align-items:center;
  				align-content:center;
  				width: 100%;
  				background: blac;
			}
			.contenedorhijo1 {
				 order:0;
  				flex:0 1 auto;
  				align-self:auto;
  				height:auto;
  				width: auto;
  				padding: 5%;
			}
			.contenedorhijo1 p {
				font-size: 20px;
				font-family: 'Arial';
			}

			.redesinicio0 {
 
	 display block
;
	flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
   align-items:flex-start;
  align-content:center;
	width: 100%;
	overflow: hidden;
	background:black ;
         position: sticky;
        
position: -webkit-sticky;
 bottom: 0%;
  padding: 0;
  z-index: 100;
  font-weight: normal;
 
}

.redesinicio0 a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
 font-family: 'Padauk', sans-serif;
  z-index: 100;

}

.redesinicio0 a:hover {
	
}
 





.spotify1 {
	background: none;
	padding: 5px 0px 5px 0px;
	width:12.5%;
	 order:0;
  flex:0 1 auto;
  align-self:auto;
  height:auto;
  text-align: center;
  margin: 0% ;
}

.spotify1 h1 {
	font-size: 15px;
	padding: 10px;
	background: none;
	color: #fff;
	border-radius: 5px;

}
.spotify1:hover {
	 background: #1DB954;
	 transition: 0.5s;
}

.instagramred1 {
	background: none;
	padding: 5px 0px 5px 0px;
	width:12.5%;
	 order:0;
  flex:0 1 auto;
  align-self:auto;
  height:auto;
  text-align: center;
  margin: 0% ;
}

.instagramred1 h1 {
	font-size: 15px;
	padding: 10px;
	background: none;
	color: #fff;
	border-radius: 5px;

}
.instagramred1:hover {
	 background: #dd2a7b;
	 transition: 0.5s;
}

.twitter {
	background: none;
	padding: 5px 0px 5px 0px;
	width:12.5%;
	 order:0;
  flex:0 1 auto;
  align-self:auto;
  height:auto;
  text-align: center;
  margin: 0% ;
}

.twitter h1 {
	font-size: 15px;
	padding: 10px;
	background: none;
	color: #fff;
	border-radius: 5px;

}
.twitter:hover {
	 background: #1DA1F2;
	 transition: 0.5s;
}


.facebookred1 {
	background: none;
	padding: 5px 0px 5px 0px;
	width:12.5%;
	 order:0;
  flex:0 1 auto;
  align-self:auto;
  height:auto;
  text-align: center;
  margin: 0% ;
}

.facebookred1 h1 {
	font-size: 15px;
	padding: 10px;
	background: none;
	color: #fff;
	border-radius: 5px;

}
.facebookred1:hover {
	 background: #3b5998;
	 transition: 0.5s;
}
.youtubered1 {
	background: none;
	padding: 5px 0px 5px 0px;
	width:12.5%;
	 order:0;
  flex:0 1 auto;
  align-self:auto;
  height:auto;
  text-align: center;
  margin: 0% ;
}

.youtubered1 h1 {
	font-size: 15px;
	padding: 10px;
	background: none;
	color: #fff;
	border-radius: 5px;

}
.youtubered1:hover {
	 background: red;
	 transition: 0.5s;
}





///////////////////////////////////////////*footer*//

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: gold;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid gold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  gold;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: gold;
  text-decoration: none;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: gold;
  text-decoration: none;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: gold;
  text-decoration: none;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}


///////////////////////////////////////////*footer*//




///////////////////////////////////////////*Tarjetas*////////////////////////////////////////////////////////

.tarjeta{
	background-color: white;
	width: 100%;
	height: 100%;

	
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.containerX{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: static;
}

.containerX .card{
    width: 330px;
    height: 430px;
    background: black;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.containerX .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    color: gold;
}

.containerX .card img{
    width: 330px;
    height: 330px;
}


.containerX .card h4{
    font-weight: 600;
}

.containerX .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containerX .card a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}
.containerX .card:hover a {
    font-weight: 500;
    text-decoration: none;
    color: gold;

}



///////////////////////////////////////////*Tarjetas fin */////////////////////////////////////////////////////////
.caja{
	align-items:
	padding: 5%
	width: 25%;
	height: 25%;
	align-items: inline-block


}
.caja img{

	height: 80%;
	display: inline-block;
}



 .redes .icon1:hover{
 	background: #4267B2;
 
 }
 .redes .icon2:hover{
 	background: #1DA1F2;
 }
 .redes .icon3:hover{
 	background: #E1306C;
 }
 .redes .icon4:hover{
 	background: #1DB954;
 }

.subtema. {
	padding-right: 50%;
	width: 100%;
	text-align: center;
}
.videos img{
	width: 50%;
	height: 10%;
	float: left;
	padding-bottom: 2%;
}

.videos {
	display: inline-block;
	padding: 10%;
	display: left;
	width: 100%;
	height: 100%;
	float: left;
	padding-bottom: 2%;
}

iframe{
	padding: 10%;
	display: left;
	width: 100%;
	height: 100%;
	float: left;
	padding-bottom: 2%;
}

.centrado{text-align:center;border:1px 
	dotted #000;
	 padding:8px;
	 font-size: 60px;
	 text-decoration: none;
	 color: white;
	}

.descripcion {

	width: 50%;
	height: 10%;
	text-align: right;
	float: left;
}

.descripcion h1{
	color: white;
	margin: 0;
	padding: 0;
	padding-top: 40%;
	font-size: 40px;
	text-align: center;
}
.descontenido a{
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #FFF;
	padding: 9px 20px;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	text-align: center;
	position: relative;
}
.descontenido a:hover 
{
	background-color: black;
	color: gold;
	position: relative;
}

.separador{
	width: 100%;
	height: 10%;
	background: black;
	position: static;
	
	align-items: center;
}
.tarjeta{
	width: 100%;
	height: 120%;
	background: black;
	position: static;
	display: inline-block;
	background: black;
	align-items: center;
}

.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ShowBox{
	opacity: 1 !important;
	pointer-events: auto !important;
}
.formated-section{
	padding: 60px 0;
}
.font-oswald{
	font-family: 'OswaldRegular';
}
/*=========== Barra de navegacion ===*/
.NavBarP,
.NavBarP-Nav,
.NavBarP-Nav > ul,
.NavBarP-Nav > ul > li,
.NavBarP-Nav > ul > li > a{
	height: 60px;
	line-height: 50px;
}
.NavBarP-Logo,{
	
}
.logoimg{
	position:relative; z-index:4; left:100%;
	padding-top: 5px;
	width: 30%;
	height: 30%;
	
	padding-bottom: 5px;
	position: center;


}
.NavBarP{
	background-color: #141414;
	color: #fff;
	position: relative;
	font-family: 'RobotoCondensedLight';
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NavBarP-Logo,
.NavBarP-Nav{
	position: absolute;
	top: 0;
	background-color: #141414;
}
.NavBarP-Logo{
	left: 0;
	width: 30%;
	font-family: 'OswaldRegular';
}
.NavBarP-Nav{
	right: 0;
	width: 70%;
}
.NavBarP-Nav > ul{
	text-align: right;
	padding-right: 10px;
}
.NavBarP-Nav > ul > li{
	display: inline-block;
	position: relative;
}
.NavBarP-Nav > ul > li > a{
	color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
}
.NavBarP-Nav > ul > li > a:hover{
	color: #FAE76F;
}

/*                                                 Banner               */

.banner{
	position: relative;
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-out;
	background-image: url('../assets/img/banner-1.jpg');
	animation: banner 28s infinite linear;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content h1{
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #FFF;
	padding: 9px 20px;
	border: 1px solid #FFF;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	position: absolute;
	padding-top: 10px;
}
.banner-content a:hover{
	position: absolute;
	
	color: gold;
}
@keyframes banner{

	0%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	25%{
		background-image: url('../assets/img/banner-2.jpg');
	}


	26%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	50%{
		background-image: url('../assets/img/banner-2.jpg');
	}


	51%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	75%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	

	76%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	100%{
		background-image: url('../assets/img/banner-2.jpg');
	}

}
/*=======================================================================================================
=                                        Media queries                                                  =
========================================================================================================*/
/* col-xs */
@media (max-width: 767px) {
	.NoScroll{
		overflow-y: hidden;
	}
	div.tarjeta {
    top:100%;
}
.tarjeta{
	width: 100%;
	height: 120%;
	background: black;
	position: static;
	display: inline-block;
	background: black;
	align-items: center;
	overflow: scroll;
}
.videos {
	
	display: inline-block;
	padding: 10%;
	display: left;
	width: 100%;
	height: 50%;
	float: left;
	padding-bottom: 2%;
}
.centrado{text-align:center;border:1px 
	dotted #000;
	 padding:8px;
	 font-size: 30px;
	 text-decoration: none;
	 color: white;
	}

	.redes{
		top: 65%;
		left: 15%;
	height: 10%;
	width: 50%;
	position: fixed;
	align-items: center;
	display: inline-block;
	display: flex; justify-content: right;
}

.redes .fab{
top: : 80%;
margin: 4px 10px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: white;
cursor: pointer;
box-shadow: 0 0 6px black rgba(0, 0, 0, 0.3);
transition: all 0.3s ease;
display: inline-block;
 }

 .redes .icon1:hover{
 	background: #4267B2;
  display: inline-block;

 }
 .redes .icon2:hover{
 	background: #1DA1F2;

  display: inline-block;
 }
 .redes .icon3:hover{
 	background: #E1306C;

 	 display: inline-block;
 }
 .redes .icon4:hover{
 	background: #1DB954;
 	 
 	  display: inline-block;
 }
 .logoimg{
	width: 25%;
	height: 80%;
	position: static;
	
	position: center;


}
    .NavBarP-Logo{
    	width: 100%;
    	z-index: 99;
    	position: fixed;
    	border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    .NavBarP-Nav{
    	width: 100%;
    	padding-top: 50px;
    	height: 100%;
    	z-index: 97;
    	position: fixed;
    	opacity: 0;
    	pointer-events: none;
    	transition: all .3s ease-in-out;
    }
    .NavBarP-Nav > ul{
    	padding-right: 0;
    	text-align: center;
    	height: 100%;
    }
    .NavBarP-Nav > ul > li{
		display: block;
    }
    .btn-menuMobile{
    	padding-top: 5px;
    	position: fixed;
    	z-index: 100;
    	top: 0;
    	right: 0;
    	color: #fff;
    	height: 50px;
    	width: 50px;
    	cursor: pointer;
    	line-height: 50px;
    	font-size: 25px;
    	transition: all .3s ease-in-out;
    }
    .btn-menuMobile:hover{
		color: #FAE76F;
		text-decoration: none;
	}
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* col-lg */
@media (min-width: 1200px) {
    
}

/*col-sm col-md col-lg*/
